# .gitignore

# Node Modules
# Exclude 6000+ Node and react modules
frontend/node_modules/
frontend/build/
node_modules/

#Exclude old files to test their impact on Python code.
JAIL/

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg
*.so
*.lib
*.dll
*.a
*.obj
*.o
*.lo
*.la
*.al
*.dylib
*.pdb
*.mdb
*.idb
test.log
*.bak
*.swp
*.swo
*.swn
*.suo
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings

# Jupyter Notebook
.ipynb_checkpoints

# Environment and configuration files
.env
.venv/
*.ini
*.json

# IDEs
.vscode/
.idea/
*.iml

# Logs
logs/
*.log

# Databases
#*.db
#*.sqlite

# Others
.DS_Store
*.bak
*.swp
*.swo
*.swn
*.suo
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
